@import './variables';

:root {
  font-family: "Mont_Regular", sans-serif;
  font-style: normal;
  font-size: 18px;
  display: flex;
  justify-content: center;

  background-color: #fbfbfb;
}