@import './Inputs/inputsStyles/contactInfo.scss';
@import './Inputs/inputsStyles/fiedls.scss';
@import './Inputs/inputsStyles/checkbox.scss';
@import './Inputs/inputsStyles/button.scss';

.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;

  @include onMobile {
    margin: auto;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

    @include onMobile {
      margin-bottom: 20px;
    }
  }

  &__field {
    display: flex;
    width: 100%;

    @include onMobile {
      flex-direction: column;
    }
  }
}