@import '../../styles/mixins';

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__mobile {
    background-color: $secondary-color;
  }

  @include onMobile {
    flex-direction: column;
    padding: 0 16px;
  }

  @include onDesktop {
    height: 80px;
    margin: 0 100px;
  }
}

.nav {
  &__link--logo-el {
    color: $secondary-color;
  }

  @include onMobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

.navigation {
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  &__mobile {
    color: #fff;
  }

  @include onMobile {
    flex-direction: column;
    height: 100vh;
    align-items: flex-start;
    width: 100%;
  }

  &__list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    @include onMobile {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__link--active {
    font-weight: bold;
  }

  &__user {
    width: 100px;

    &__list {
      display: flex;
      justify-content: space-between;

      @include onMobile {
        justify-content: space-around;
        margin-left: 20px;
      }
    }

    @include onMobile {
      width: 100%;
      justify-content: center;
    }
  }

  &__link {
    color: $secondary-color;
    font-family: "Roboto-Regular", sans-serif;

    @include onMobile {
      color: $main-color;
    }
  }
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;

  &__icon-user {
    border: 1px solid $secondary-color;
    background-image: url('../../styles/imgs/user-128-128.png');
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    background-color: #fff;
    width: 31px;
    height: 31px;

    @include onMobile {
      background-color: $secondary-color;
      border-color: $main-color;
      background-image: url('../../styles/imgs/user-128.svg');
      background-position: center;
      background: size 16px;
      background-repeat: no-repeat;
    }
  }

  &__icon-bascket {
    border: 1px solid $secondary-color;
    background-image: url('../../styles/imgs/busket.svg');
    background-position: center;
    background: size 16px;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-color: #fff;
    width: 31px;
    height: 31px;

    @include onMobile {
      background-color: $secondary-color;
      border-color: $main-color;
      background-image: url('../../styles/imgs/basket-mobile.svg');
      background-position: left 6px top 6px;
      background: size 16px;
      background-repeat: no-repeat;
    }
  }
}

.open {
  color: $main-color;
}