.checkboxes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  @include onMobile {
    flex-wrap: wrap;
  }
}

.round {
  width: max-content;

  @include onMobile {
    width: 50%;
  }
}

.title {
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 14px;
  margin-bottom: 14px;
}

.label {
  font-family: "Poppins-Regular";
  font-size: 12px;
  margin-left: 10px;
}

.input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  border-radius: 50%;
  width: 13px;
  height: 13px;

  background-color: #E0E0E0;

  &:checked {
    background-image: url('../../../../styles//imgs/Tick.svg');
    background-size: 13px;
    background-position: bottom;
  }
}