@import './styles/reset';
@import './styles/normilize';
@import './styles/variables';
@import './components/NotFoundPage/NotFoundPage.scss';
@import './components/Header/Header.scss';
@import './components/ContactPage/Contact.scss';
@import './components/Footer/Footer.scss';

#root {
  display: flex;
  flex-direction: column;

  @include onMobile {
    display: block;
  }
}

main {
  flex-grow: 1;
}